<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
</head>
<body>

    <h2>Cats</h2>

    <th:block th:each="cat : ${cats}">

        <p th:text="${cat.name}"></p>
        <p th:text="${cat.age}"></p>
        <p th:text="${cat.color}"></p>

    </th:block>

    <form th:action="@{/create-cat}" th:object="${cat}" action="/create-cat" method="post">
        <input th:field="*{name}" type="text" name="name" id="name">
        <input th:field="*{age}" type="text" name="age" id="age">
        <input th:field="*{color}" type="text" name="color" id="color">

        <button type="submit" class="button is-primary">Submit</button>
    </form>

</body>
</html>